<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Myreactapp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.31d6cfe0d16ae931b73c.css">
</head>
<body>
    <app-root></app-root>
    <script src="~/Scripts/ClientApp/runtime.a60e917449a7de47caed.js" defer></script>
    <script src="~/Scripts/ClientApp/polyfills.ddf0501009b6c3edb8c3.js" defer></script>
    <script src="~/Scripts/ClientApp/main.8442f97476a609b9ca1f.js" defer></script>

</body>
</html>